body{
  margin:0;
  padding-top: 100px;
   background-color: #71c9ce;
   text-align: center;
   font-family:'Merriweather', serif;
}
h1{
  font-size: 80px;
  margin-top:400px;
  text-align: center;
  font-family: 'Sacramento', cursive;

}
.div{
  margin:0;
}
 .head{
   background-color: #71c9ce;

 }

.left{
  text-align:center;
  background-color:#71c9ce;
  width: 400px;
  height:200px;
  display: inline-block;


}
.middle{
  text-align:center;
  background-color: #71c9ce;
  width: 400px;
  height:200px;
  display: inline-block;
  margin:10px;


}
.right {
  text-align: center;
  background-color: #71c9ce;
  width: 400px;
  height:200px;
  display: inline-block;


}
.main-img{
  position: relative;
  height: 400px;
  width:1200px;
  margin-top: 200px;

}

.Me{
  width: 480px;
  height: 640px;
  margin-top: 200px;
  border-radius: 100%

}
.web{
  width:640px;
  height:373px;
}
.mechanic{
  width:400px;
  height:400px;
  margin-top: 50px;
  border-radius: 100%
}
.top-cloud{
  position:absolute;
    right: 20px;
  margin-top: 40px
}
.bottom-cloud{
  position:absolute;
}
.dropbtn {
  background-color: #71c9ce;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color:white ;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #2c7873;
}
